/*--------CONTACTO--------*/
.form-group input {
  border: 1px solid $fondo-color;
}
.form-group textarea {
  border: 1px solid $fondo-color;
}
.btn-primary {
  padding: 13px;
  background-color: $fondo-color;
  color: #f6fdfd;
  fill: #f6fdfd;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 40px;
  border-color: none;
}
.btn-block {
  float: left;
  width: 100%;
}
.btn {
  margin-top: 3%;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: $fondo-color-claro;
  }
}
