/*--------FOOTER-------*/

footer {
  background-image: $fondo-nube;
  background-size: cover;
  height: 160px;
  padding: 30px;
}
.icons-tarj img {
  align-items: center;
  width: 40px;
  height: 32px;
}
.icons-redes {
  display: inline-grid;
  gap: 20px;
}
@media(max-width:730px){
  .icons-redes{
    display: none;
  }
  .icons-redes-mobile {
    display: inline-grid;
    gap: 20px;
  }
}
.icon-r{
  background-color: white;
  padding: 5px;
  border-radius: 100px;
  color: $fondo-color;
  margin-right: 5px;
  width: 40px;
  height: 32px;
}
@media(min-width:730px) {
  .icons-redes-mobile {
    display: none;
  }
}

.second-secction {
  display: flex;
  gap: 1em;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  div p {
    font-family: $fuente;
    font-size: 25px
  }
}
@media (max-width: 680px) {
  .icons-tarj div p{
    font-size:20px;
  }
}
